
.classpath

.metadata/.lock

.metadata/.mylyn/.taskListIndex/segments_1

.metadata/.log

*.gen

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/18/b0e80cc137c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/1b/1006007338c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/ec/80f0da7b36c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/f3/80e89cbf38c50015119e82097b221915

*.index

.metadata/.plugins/org.eclipse.core.resources/.history/d3/5084314238c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.projects/CookieGame/.markers

*.dat

.metadata/.plugins/org.eclipse.core.resources/.history/3f/0048a98e37c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/4f/8086c09938c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/89/80d6fb8638c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/71/20180fba38c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/8f/60b1d23336c50015119e82097b221915

.metadata/.plugins/org.eclipse.core.resources/.history/9/f065f2ae38c50015119e82097b221915

*.version

*.tree

*.resources

*.prefs

*.launch

*.xml

*.xmi

*.fdt

*.fdx

*.fnm

*.frq

*.nrm

*.tii

*.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1

*.prx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2

*.json

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.history

*.log

*.ini

*.setup

.project

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
